@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
	--color-primary: #ffffff;
	--color-secundary: #007dff;
	--color-third: #3f91d6;
	--text-color-primary: #007dff;
	--text-color-secundary: #000000;
	--text-color-third: rgba(255, 255, 255, 0.7);

	--font: "Open Sans", sans-serif;
	--max-width: 1600px;
	--header-height: 4rem;
}

/* Reset */
html {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	max-width: var(--max-width);
	color: var(--text-color-primary);
	background-color: var(--color-primary);
}

a {
	color: var(--text-color-primary);
	transition: all 0.5s ease-out;
}

a:hover {
	opacity: 0.85;
}

h1 {
	margin: 0;
	font-size: 2rem;
}

h2 {
	margin: 0;
	font-size: 1.5rem;
}

h3 {
	margin: 0;
	font-size: 1.25rem;
}

h4 {
	margin: 0;
	font-size: 1rem;
}

h5 {
	margin: 0;
	font-size: 0.85rem;
}

h6 {
	margin: 0;
	font-size: 0.7rem;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.6;
}

/* header section */
.header {
	position: sticky;
	top: 0;
	z-index: 999;
	padding: 10px 25px;
	background-color: var(--color-primary);
	height: calc(var(--header-height) - 0.5rem);
	box-shadow: 0 1px 1px var(--color-secundary);
}

.logo a {
	color: var(--text-color-primary);
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu.is-active {
	opacity: 1;
	pointer-events: auto;
}

.menu {
	display: flex;
	position: fixed;
	flex-direction: column;
	top: 3em;
	left: 0;
	width: 100%;
	background-color: var(--color-primary);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.menu a {
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--text-color-primary);
}

.menu-btn {
	outline: thin solid var(--color-secundary);
	border: 0;
	cursor: pointer;
}

.menu-btn svg {
	fill: var(--color-secundary);
}

.none {
	display: none;
}

/* section inicio */
.inicio {
	padding: 0px 25px;
}

.inicio-title {
	font-size: 1em;
	/* font-size: clamp(40px, 8vw, 80px); */
}

.inicio-subtile {
	margin-top: 0.3rem;
	font-size: 1.6em;
	color: var(--text-color-secundary);
}

.inicio-paragraph {
	margin: 10px 0px 0px;
	max-width: 550px;
	color: var(--text-color-secundary);
	font-size: 1em;
}

.inicio-icons svg {
	margin-top: 1.5rem;
	width: 2.4rem;
	height: 2.4rem;
}

.btn {
	display: inline-block;
	margin-top: 3.1rem;
	border-radius: 0.5rem;
	padding: 1rem 1rem;
	font-size: 0.9rem;
	line-height: 1;
	background-color: var(--color-secundary);
	color: var(--color-primary);
	border: thin solid var(--color-secundary);
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

/* section about */
.about {
	padding: 60px 25px;
}

.about__paragraph {
	color: var(--text-color-secundary);
	font-size: 1rem;
	margin: 0px 0px 15px;
}

.about-info {
	margin: 0px 0px 15px;
	color: black;
}

.list {
	display: grid;
	grid-template-columns: repeat(2, minmax(140px, 200px));
	gap: 0px 10px;
	padding: 0px;
	margin: 20px 0px 0px;
	overflow: hidden;
	line-height: 3;
}
.list-items {
	font-size: 1rem;
	font-weight: bold;
}
.list-items img {
	margin: 0.1rem 0px;
	justify-content: center;
	position: relative;
	width: 2.2rem;
	height: 2.2rem;
	top: 20%;
}
.list-items li {
	margin: 1rem 0px 0px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-size: 13px;
}
.about-img {
	margin: 50px auto 0px;
	width: 80%;
}
.about-img img {
	border-radius: 0.5rem;
}

/* section projects */

.projects {
	padding: 60px 25px;
}

.projects__info {
	margin: 50px 0px 0px;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 15px;
	position: relative;
	list-style-type: none;
}

.projects-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem 1.75rem;
	border-radius: 0.5em;
	cursor: pointer;

	background-color: var(--color-third);
}

.projects-title {
	color: var(--color-primary);
	font-size: 1.6rem;
}

.projects-description {
	color: var(--text-color-third);
	max-width: 550px;
	font-size: 1rem;
}

.projects-list {
	display: flex;

	padding: 0;
	justify-content: flex-start;
	color: var(--text-color-third);
	list-style-type: none;
	flex-grow: 1;
	flex-wrap: wrap;
	margin: 20px 0px 0px;
}

.projects-list li {
	margin-right: 0.8em;
}

.project-link {
	display: flex;
	width: 100%;
	margin-bottom: 8px;
	justify-content: flex-end;
}
.project-link svg {
	fill: #fff;
	width: 2em;
	height: 2em;
}

/* section contacto */
.contact {
	padding: 60px 25px;
}

.contact-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-title {
	color: var(--text-color-secundary);
	font-size: 1rem;
	margin: 0px 0px 15px;
}

.contact-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 15px;
	width: 100%;
	color: var(--text-color-secundary);
}

.contact-description h4 {
	font-weight: bold;
	font-size: 1.1rem;
	max-width: 100px;
}

.contact-description p {
	font-weight: bold;
	font-size: 1rem;
}
/* section footer */
.footer-icons {
	display: flex;
	justify-content: space-evenly;
	margin: 0px 0px 15px;
}

.footer h2 {
	text-align: center;
	font-size: 1rem;
	margin: 0px 0px 15px;
	color: var(--text-color-secundary);
}

.footer-icons img {
	width: 2.5em;
	height: 2.5em;
	align-items: flex-start;
	fill: #000000;
}

/* media queries */
@media screen and (max-width: 768px) {
	.about {
		display: block;
	}
}

@media screen and (max-width: 411px) and (min-height: 700px) {
	.container {
		padding-bottom: 10vh;
	}
}

/* utilities */

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 85vh;
}

.section-title {
	margin: 10px 0px 40px;
	font-size: clamp(26px, 5vw, 32px);
}
