@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
	--color-primary: #ffffff;
	--color-secundary: #007dff;
	--text-color-primary: #007dff;
	--text-color-secundary: #000000;

	--font: "Open Sans", sans-serif;
	--max-width: 1600px;
	--header-height: 4rem;
}

/* Reset */
html {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	max-width: var(--max-width);
	color: var(--text-color-primary);
	background-color: var(--color-primary);
}

a {
	color: var(--text-color-primary);
	transition: all 0.5s ease-out;
}

a:hover {
	opacity: 0.85;
}

h1 {
	margin: 0;
	font-size: 2rem;
}

h2 {
	margin: 0;
	font-size: 1.5rem;
}

h3 {
	margin: 0;
	font-size: 1.25rem;
}

h4 {
	margin: 0;
	font-size: 1rem;
}

h5 {
	margin: 0;
	font-size: 0.85rem;
}

h6 {
	margin: 0;
	font-size: 0.7rem;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.6;
}

/* header section */
.header {
	position: sticky;
	top: 0;
	z-index: 999;
	padding: 1em;
	background-color: var(--color-primary);
	height: calc(var(--header-height) - 0.5rem);
	box-shadow: 0 1px 1px var(--color-secundary);
}

.logo a {
	color: var(--text-color-primary);
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
}

.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu.is-active {
	opacity: 1;
	pointer-events: auto;
}

.menu {
	display: flex;
	position: fixed;
	flex-direction: column;
	top: 3em;
	left: 0;
	width: 100%;
	background-color: var(--color-primary);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.menu a {
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--text-color-primary);
}

.menu-btn {
	outline: thin solid var(--color-secundary);
	border: 0;
	cursor: pointer;
}

.menu-btn svg {
	fill: var(--color-secundary);
}

.none {
	display: none;
}

/* section inicio */

/* media queries */
@media screen and (min-width: 768px) {
	body {
	}
}
